
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

html, body{
	font-family: 'Nunito', sans-serif;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}
 
/*global classes*/
a{
	text-decoration: none;
	padding: 3px;
}

ul{
	list-style: none;
}

.flex-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;  /*to wrap things up when the screen size collapses*/
}

/*navbar*/

.nav{
	background: #fff;
	padding: 0 2em;
	height: 0rem;
	min-height: 10vh;
	overflow: hidden;
	transition: height .75s ease-in-out;
}

.nav .nav-menu{    
    justify-content: space-between;
}

.nav .toggle-collapse{
	position: absolute;
	top: 0%;
	width: 80%;
	cursor: pointer;
	display: none;
}

.nav .toggle-collapse .toggle-icons{
	display: flex;
	justify-content: flex-end;
	padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
	font-size: 1.4rem;
	color: #03506f;
}

/*js class*/
.collapse{
	height: 25rem;
}

.nav .nav-items{
	display: flex;
	margin: 0;
}

.nav .nav-items .nav-link{
	position: relative;
	padding: 1.6rem 1rem;
	font-size: 1.1rem;
}

.nav .nav-items .nav-link a{
	color: #184d47;
}

.nav .nav-items .nav-link:hover{
	background-color: #96bb7c;
}

.nav .nav-brand{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	padding: 15px;

}

.nav .nav-brand a{
	display: block;
	font-size: 1.6rem;
	text-decoration: none;
	color: #184d47;
}

.nav .social{
	padding: 1.7rem;
}

.nav .social i{
	color: #184d47;
}

.nav .social i:hover{
	color: #74c7b8;
}


/*---------MAIN SITE---------*/

/*site title*/
main .site-title{
	background: url('../assets/Background-image.png');
	background-size: cover;
	height: 110vh;
	display: flex;
	justify-content: center;
}

main .site-title .site-background{
	padding-top: 10rem;
	color: #fff;
	text-align: center;
}

main .site-title h1{
	font-family: 'Yatra One', cursive;
	font-size: 2.5rem;
	font-weight: 300;
	margin: .3rem;
}

main .site-title h3{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.8rem;
	margin: .3rem;
}

main .site-title .btn{
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	margin: 1.8rem;
	padding: 15px 40px;
	border: none;
	outline: none;
	/*background-color: #70af85;*/
	background: #134E5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	border-radius: 20px 20px;
}

main .site-title .btn:hover{
	background: transparent;
	border: 1px solid #fff;
}

/*Blog Carousel*/
main .blog{
	background: url('../assets/bg.jpg');
	background-repeat: no-repeat;
	background-position: right;
	height: 100vh;
	width: 100%;
	background-size: 50%;
}

main .blog .blog-post{
	padding-top: 6rem;
}

main .blog h3{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #00af91;
	font-size: 1.8rem;
	margin: .3rem;
}

main .blog .blog-content{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 80%;
	margin: 3rem 2rem;
	box-shadow: 0 5px 13px #557174;

}

main .blog span{
	display: block;
	color: #64dfdf;
	font-family: 'Nunito', sans-serif;
	padding-bottom: 1rem;
}

main .blog .btn-blog{
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	margin: 1.1rem;
	padding: 10px 20px;
	border: none;
	outline: none;
	/*background-color: #70af85;*/
	background: #134E5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #fff;
	border-radius: 20px 20px;
}

.container{
	margin: 0 5vw;
}

section .container .owl-nav{
	position: absolute;
	padding-top: 25px;
	top: 0%;
	margin: 0 auto;
	width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
	background: transparent;
	color: #007965;
	font-size: 1.5rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
	background: transparent;
	color: #214151;
}

/*Site content style*/
main .site-content{
	display: grid;
	grid-template-columns: 70% 30%;
}

main .post-content{
	width: 100%;
}

main .site-content .post-content > .post-image, .post-title{
	padding: 1rem 2rem;
	position: relative;
}

main .site-content .post-content > .post-image .post-info{
	background: #d7fbe8;
	padding: 1rem;
	position: absolute;
	bottom: 0%;
	left: 15vw;
	border-radius: 30px 30px;

}

main .site-content .post-content > .post-image > div{
	overflow: hidden;
}

main .site-content .post-content > .post-image .img{
	width: 100%;
}

main .site-content .post-content > .post-image .img:hover{
	transform: scale(1.1);
}

main .post-info span{
	padding-right: 1.5rem;
	color: #70af85;

}

main .post-content .post-title a{
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	color: #00af91;
	font-size: 1.5rem;
}

main .post-content .post-title p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1rem;
	color: #00af91;
	text-align: left;
}

main .post-content .post-btn{
	font-family: 'Raleway', sans-serif;
	font-size: 1.1rem;
	font-weight: 500;
	padding: 10px 20px;
	outline: none;
	/*background-color: #70af85;*/
	background: #134E5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #fff;
	border-radius: 20px 20px;
}

.site-content .pagination{
	justify-content: center;
	color: #70af85;
	margin: 4rem 0;
}

.site-content .pagination a{
	padding: .6rem .9rem;
	border-radius: 2rem;
	margin: 0 .3rem;
	font-family: 'Nunito', sans-serif;
}

.site-content .pagination i{
	color: #0f1123;
}

.site-content .pagination .pages{
	background: #295939;
	color: white;
}


/*Sidebar content*/

.site-content > .sidebar .category h2{
	color: #00af91;
}

.site-content > .sidebar .category-list{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	color: #adeecf;

}

.site-content > .sidebar .category-list .list-item{
	/*background-color: #70af85;*/
	background: #134E5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: .4rem 1rem;
	margin: .8rem 0;
	border-radius: 3rem;
	width: 70%;
	display: flex;
	justify-content: space-between;
}

.site-content > .sidebar .category-list .list-item a{
	color: #adeecf;
}


/*Popular posts*/
.site-content .sidebar .popular-posts .post-content{
	padding: 1rem 0;

}

.site-content .sidebar .popular-posts h2{
	padding-top: 10rem;

}

.site-content .sidebar .popular-posts .post-info{
	padding: .4rem .1rem !important;
	bottom: 0rem !important;
	left: 1.5rem !important;
	border-radius: 0rem !important;
	background: #fff !important;
}

.site-content .sidebar .popular-posts .post-title a{
	font-size: 1.1rem !important;
	font-weight: 300;
}

/*Newsletter section*/

.site-content .sidebar .newsletter{
	padding-top: 12rem;
}

.site-content .sidebar .newsletter .form-element{
	padding: .5rem 2rem;
}


.site-content .sidebar .newsletter .input-element{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	width: 80%;
	height: 1.9rem;
	padding: .3rem .5rem;
	border:1px solid #5eaaa8;
}

.site-content .sidebar .newsletter .input-element:hover{
	outline: none;
	border:1px solid #d3e0ea;
}

.site-content .sidebar .newsletter .form-btn{
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	padding: .8rem 28%;
	margin: 1rem 0;
	outline: none;
	/*background-color: #70af85;*/
	background: #134E5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #fff;
	border-radius:0;
}

/*Popular Tags*/
.site-content .sidebar .popular-tags{
	padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tag{
	/*background-color: #23689b;*/
	background: #2c3e50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #fff;
	padding: .4rem 1rem;
	border-radius: 20px 20px;
	margin: .4rem .6rem;
}
/*-----x---MAIN SITE--x----*/

/*FOOTER SECTION*/

footer.footer{
	height: 100%;
	background-color: black;
	color: #fff;
	position: relative;
}

footer.footer .container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
	flex-flow: 1; 
	flex-basis: 0;
	padding: 3rem .9rem;
}

footer.footer .container .about-us p{
	color: grey;
	text-align: left;
}

.footer .newsletter .form-element{
	background-color: black;
	display: inline-block;
}

.footer .newsletter .form-element .input-element{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	width: 70%;
	height: 1rem;
	padding: .8rem .7rem;
	padding-top: 6.5px;
	border:none;
	background: #1a1c20;
	color: #fff;
}

.footer .newsletter .form-element .input-element:hover{
	outline: none;
}

.footer .newsletter p{
	color: grey;
}

footer.footer .newsletter .form-element span{
	padding: .4rem .6rem;
	background-color: #23689b;
	cursor: pointer;
}

footer.footer .instagram div> img{
	display: inline-block;
	width: 25%;
	height: 50%;
	margin: .3rem .4rem;
}

footer.footer .follow div > i{
	color: grey;
	padding: 0 .5rem;
}


footer.footer .follow div > i:hover{
	color: #fff;
}

footer.footer .rights h4{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1rem;
	margin: 0;
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: #fff;
}

footer.footer .move-up span:hover{
    color: #3f3f44;
    cursor: pointer;
}

/*----x-----FOOTER SECTION-----x----*/

/*Viewport less than or equal to 1130px  (when the screen size decreases)*/ 

@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
    	left: 2rem !important;
    	bottom: 1.2rem !important;
    	border-radius: 0% !important;
    }

    .site-content .sidebar .popular-posts .post-info{
    	display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/*Viewport less than or equal to 750px  (when the screen size decreases)*/ 

@media only screen and (max-width: 750px){
	.nav .nav-menu, .nav .nav-items{
		flex-direction: column;
	}

	.nav .toggle-collapse{
		display: initial;
	}

	footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}




/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }


    .site-content .sidebar .newsletter{
    	display: none;
    }

    .site-content .sidebar .category{
    	display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}

/*        x      Viewport less then or equal to 520px       x     */





